.checkbox{
  appearance: none;
  height: 40px;
  width: 85px;
  background-color: #2e4714;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 10px;
}
.checkbox::after{
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(164 161 161);
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: all .6s ease;

}
.checkbox::before{
  content: "name";
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 15px;
  transition: all .6s ease;
}

.checkbox.check-search::after{
  content: "";
  left: 50px;
  background-color: #adff2f;
}
.checkbox.check-search::before{
  content: "id";
  left: 20px;
}
.checkbox:hover{
  filter: drop-shadow(0px 0px 6px #abff2ec4);
}
.list-search{
  width: 300px;
  background-color: #adff2f2b;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.button-search{
  width: 100%;
}

.search-content{
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.input-text{
  border-radius: 10px;
  height: 38px;
  padding: 0 0 0 15px;
  border: none;
  margin: 0 10px;
}
.search-select{
  width: 300px;
  margin: 0 10px;
}

@media (max-width:400px) {
  .search-content{
    flex-direction: column;
    align-items: center;
  }
}