.pagination{
  max-width: 1200px;
  width: 80%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.button-select{
  background-color: #adff2f;
  /* filter: drop-shadow(2px 4px 6px #abff2ec4); */
}